body{
    margin: 0;
}

.container{
    width: 900px;
    margin: 0 auto;
}

/* header */
.images{
    background-color: rgb(78, 193, 232);
    background-image: url(../img/pattern.png);
    background-size: 300px;
    width: 900px;
    height: 100px;
}

.booleaner{
    width: 150px;
    height: 100px;
}

h1{
    margin-bottom: 0;
}

.info{
    color: grey;
    margin: 0;
}
.written{
    margin: 0;
}

.name{
    color: dodgerblue;
}

.data{
    font-size: small;
    margin-top: 0;
    margin-bottom: 20px;
}

/* section immagini tim berners */

.foto1-tim{
    width: 51%;
}

.foto2-tim{
    width: 43%;
}

.descrizione-foto{
    font-size: x-small;
    margin: 0;
}

/* section paragrafo e lista */

.evidenziare{
    background-color: yellow;
}

ul{
    padding-left: 16px;
}

